[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
latex = "*"
gunicorn = "*"
flask-script = "*"
flask-sqlalchemy = "*"
google-cloud-storage = "*"
flask-migrate = "*"
"psycopg2-binary" = "*"
google-cloud-pubsub = "*"
grpcio = "*"
redis = "*"

[dev-packages]
pytest = "*"
"flake8" = "*"
isort = "*"

[requires]
python_version = "3.6"
